body {
    background-color: #f7f1ed;
    font-family: arial;
    color: #412A20;
}

/* ring hero image */
#ring-image { 
    height: 75vh;
    width: 98vw;
    margin-left: .5%; 
    background-image: url('../images/engagement-ring-white-bg.jpg') ;
    background-repeat: no-repeat;
    background-size: 2000px 600px;

}