body {
    background-color: #f7f1ed;
    font-family: arial;
    color: #412A20;
}

/* ring hero image */
#ring-image { 

    min-height: 75vh;
    width: 99%;
    margin-left: .5%;
    background-image: url('../images/engagement-ring-white-bg.jpg');
    background-position: center;
    background-size: cover;  
}